{
    "$schema": "https://json.schemastore.org/swcrc",
    "exclude": "node_modules/",
    "sourceMaps": true,
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "target": "es2016",
        "baseUrl": "./src",
        "paths": {
            "@cache/*": ["./engine/cache/*"],
            "@cache": ["./engine/cache"],
            "@net/*": ["./engine/net/*"],
            "@net": ["./engine/net"],
            "@util/*": ["./engine/util/*"],
            "@util": ["./engine/util"],
            "@world/*": ["./engine/world/*"],
            "@world": ["./engine/world"]
        },
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": false
        }
    }
  }
